#root {
  width: 100%;
}
@import "~antd/dist/antd.css";
.input-group-text {
  cursor: pointer;
}
.input-group-text :hover {
  color: blue;
}
.error {
  border-color: red !important;
}

@font-face {
  font-family: "CalibreWeb-Regular";
  src: url("https://res.cloudinary.com/dko7n7x16/raw/upload/v1551879506/CalibreWeb-Regular_lbngyc.woff")
    format("woff");
}
html {
  font-family: CalibreWeb-Regular !important;
}
body {
  margin: 0;
  font-family: CalibreWeb-Regular !important;
}
